
<header class="d-flex flex-column align-items-center my-5">
    <div class="d-flex col-12 col-md-4 align-items-center">
        <img src="../../assets/img/watson.png" alt="" id="janetPrincipal">
        <p class="font-roboto font-25" style="line-height: 2.25rem;">AJUDE A <span class="texto-azul-verde negrito">JANET</span> A COMPLETAR SEU CADASTRO</p>
    </div>
    <div class="chat-column">
        <div id="chat"></div>
        <label for="textInput" class="inputOutline">
            <input id="textInput" class="input responsive-column" autofocus placeholder="Digite algo..." type="text">
        </label>
    </div>
</header>        