.div-container-btneditar{
    height: 10em;
    width: 35px;
    float: right;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}
.btnImgEditar:hover{
    height: 34px!important;
    width: 34px!important;
    transition: 0.2s;
    cursor: pointer;
}


/* Rotação da div diagonal */

#poligono {
    width: 100%;
    height:20vh;
    background-color: #B4E2D9;
    transform: skewY(-3deg);
    z-index: -1;
    top: 25px;
    position: absolute;
}
.imgPerfil{
    background-image: url("../../assets/img/admin/perfil.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/* ============================ Estilo e posicionamento do label dentro do input */
label{
    position: absolute;
    top: -3px!important;
    left: 60px;
    padding: 10px 0;
    font-size: 16px!important;
    color: #949191!important;
    pointer-events: none;
    font-weight: 100;
    transition: .2s ease all;
}  
/* =========================== Tamanho do Popup*/
.tamanhoPopupWidth{
    max-width: 933px!important;
}
.tamanhoPopupHeight{
    height: 615px!important;
}
/* ========================== Formulários dos <input> */
.form-group{
    margin-bottom: 2rem;
    position: relative;
}
/* ======================== estilo dos <input> */
.input-estilo{
    border-top-right-radius: 2.5px;
    border-top-left-radius: 2.5px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-color: transparent;
    background-color: #FCFCFC;
    width: 80%;
    border: none;
    border-bottom: 1px solid #cccbcb;
}   
/* ======================== Eventos do <input> */
.input-estilo:focus{
    box-shadow: 0 0 0 0 transparent;
    border-bottom: 0.5px solid transparent!important;
}
.input-estilo:focus ~ label, .input-estilo:valid ~ label{ /* posicionamento do label em cima do input */
    top: -30px!important;
    left: 50px;
    font-size: 13px!important;
    font-style: normal;
    font-weight: 500;
    color: #98cabe!important;
}
/* ========================  Estilo do <span> */
.linhaSpan{ /* tamanho e posição do span que é uma linha */
    position: absolute;
    display: block;
    width: 80%; 
    bottom: 1px; 
}
.linhaSpan:before, .linhaSpan:after{/* cor da linha antes e depois com uma duração de 2 segundos*/
    content: '';
    height: 2px;
    bottom: 0px;
    width: 0;
    position: absolute;
    transition: .2s ease all;
    background: #98cabe;
}
 .input-estilo:focus ~ .linhaSpan:after {/* Tamanho da linha quando em foco e depois */
    width:100%;
}

/* --------- dashboard ------------ */
.dashboard{
    background-color: #BAE2D9;
    box-shadow: 0px 1px 50px rgba(0, 0, 0, 0.21);
    height: 150px;
    width: 150px;
    border-radius: 5px;
}

/* .dashboard:hover{
    cursor: pointer;
    width: 170px;
    height: 170px;
    transition: cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: 1s;
} */

/* -- Dorpdown --- */
.dropdown-toggle{
    box-shadow: 0px 1px 11px rgba(0, 0, 0, 0.17);

    display: flex;
    justify-content: space-between;
    align-items: center;
}
.dropdown-toggle:after{
    content: none!important;
}

/* ----- media Queries */
@media (max-width: 768px){
    h4{
        font-size: 18px;
        padding-top: 2px;
    }
}
@media (max-width: 767px){
    .imgSVG{
        display: none!important;
    }
    .sessaoPontodeAtendimento{
        margin-top: 25rem;
        margin-bottom: 6rem;
    }

    #iconeDashboard{
        padding-left: 10px!important;
    }
}

@media (max-width: 320px){
    label{
        left: 16px;
        font-size: 14px!important;
    }
    h4{
        font-size: 16px;
    }
    .input-estilo, .linhaSpan{
        width: 93%;
    }
    .input-estilo:focus ~label, .input-estilo:valid ~ label {
        left: 18px;
    }
    .iconeAdicionar, .dropResponsive{
        margin-left: 0!important;
        padding-left: 0!important;
    }

}