<header>
    <article class="mb-5" style="height: 12.5em;">
        <div id="poligono">
            
        </div>
        <article class=" d-flex justify-content-center" style="bottom: 158px; height: 5%;">
            <div class=" mt-4 rounded-circle  fotoInicial imgPerfil" style="background-color: none; width: 180px; height: 180px;">
                <img src="../../assets/img/perfil-usuario/HospitalAvatar.png" alt="" height="100%" width="100%">
            </div>
        </article>
    </article>
    <h5 class="font-roboto text-center font-25 negrito texto-preto">HOSPITAL JANETJACKSON</h5>
    <section class="d-flex flex-column flex-lg-row  align-items-center justify-content-center my-5 flex-wrap">
        <main class="col-11 mx-3 col-md-6 col-lg-3 p-5 d-flex flex-column align-items-left justify-content-center my-2">
            <p class="font-20 font-roboto texto-preto text-left negrito">NÚMERO DE VACINAS:</p>
            <div style="width: 90%; height: 1px; background-color: black;" class="my-0"></div>
            <p class="font-20 font-roboto texto-azul-verde text-left negrito mt-3">4000</p>
            <div class="mt-5 d-flex justify-content-center">
                <a href="" class="botaoPreto mt-2">ADICIONAR VACINAS</a>
            </div>
        </main>
        <main class="col-11 mx-3 col-md-6 col-lg-3 p-5 d-flex flex-column align-items-left justify-content-center my-2">
            <p class="font-20 font-roboto texto-preto text-left negrito">NÚMERO DE VACINAS PARA PROFISSIONAIS DE SAÚDE:</p>
            <div style="width: 90%; height: 1px; background-color: black;" class="my-0"></div>
            <p class="font-20 font-roboto texto-azul-verde text-left negrito mt-3">2000</p>
            <div class="mt-5 d-flex justify-content-center">
                <a href="" class="botaoPreto mt-2">EDITAR VACINAS</a>
            </div>
        </main>
        <main class="col-11 mx-3 col-md-6 col-lg-3 p-5 d-flex flex-column align-items-left justify-content-center my-2">
            <p class="font-20 font-roboto texto-preto text-left negrito">NÚMERO DE VACINAS PARA GRUPO DE RISCO:</p>
            <div style="width: 90%; height: 1px; background-color: black;" class="my-0"></div>
            <p class="font-20 font-roboto texto-azul-verde text-left negrito mt-3">1800</p>
            <div class="mt-5 d-flex justify-content-center">
                <a href="" class="botaoPreto mt-2">EDITAR VACINAS</a>
            </div>
        </main>
        <main class="col-11 mx-3 col-md-6 col-lg-3 p-5 d-flex flex-column align-items-left justify-content-center my-2">
            <p class="font-20 font-roboto texto-preto text-left negrito">NÚMERO DE VACINAS PARA GRUPO REGULAR:</p>
            <div style="width: 90%; height: 1px; background-color: black;" class="my-0"></div>
            <p class="font-20 font-roboto texto-azul-verde text-left negrito mt-3">200</p>
            <div class="mt-5 d-flex justify-content-center">
                <a href="" class="botaoPreto mt-2">EDITAR VACINAS</a>
            </div>
        </main>
        <!-- FORMULARIO DO PERFIL  -->
        
        <div class="col-md-4 mt-3">
            <div class="d-flex ml-md-4 mt-5 mt-md-0" style="">
                <div style="padding-left: 35px;" class="mb-5">
                    <img style="height: 25px;" src="../../assets/img/admin/do-utilizador.svg" alt="">
                </div>
                <h4 class="ml-3  font-25 " >INFORMAÇÕES</h4>
            </div>
            <div class="form-group d-flex justify-content-center">
                <input type="text" class="form-control input-estilo inputNome" id="nome" required>
                <span class="linhaSpan"></span>
                <label for="exampleInputNome" class="col-form-label">Nome</label>
                <!-- <div class="position-absolute" style="top: 30px; right:44px;">
                    <small style="color: red; font-size: 10px;">O nome esta incorreto, minimo 3 caracteres</small>
                </div> -->
            </div>
            <div class="form-group d-flex justify-content-center">
                <input type="text" class="form-control input-estilo inputNome" id="nome" required>
                <span class="linhaSpan"></span>
                <label for="exampleInputNome" class="col-form-label">Email</label>
                <!-- <div class="position-absolute" style="top: 30px; right:44px;">
                    <small style="color: red; font-size: 10px;">O nome esta incorreto, minimo 3 caracteres</small>
                </div> -->
            </div>
            <div class="d-flex mb-0 justify-content-center form-group w-100">
                <div class="form-group w-50 d-flex justify-content-end mr-2">
                    <input type="text" class="form-control input-estilo " mask="(00) 00000-0000" id="nome" required>
                    <span class="linhaSpan"></span>
                    <label class="col-form-label">CEP</label>
                </div>
                <div class="form-group w-50 d-flex justify-content-start">
                    <input type="text" class="form-control input-estilo  " mask="00000-000" required>
                    <span class="linhaSpan"></span>
                    <label class="col-form-label" style="left: 10px;">Data de nascimento</label>
                </div>
            </div>
            <div class="form-group d-flex justify-content-center">
                <input type="text" class="form-control input-estilo inputNome" id="nome" required>
                <span class="linhaSpan"></span>
                <label for="exampleInputNome" class="col-form-label">Endereço</label>
                <!-- <div class="position-absolute" style="top: 30px; right:44px;">
                    <small style="color: red; font-size: 10px;">O nome esta incorreto, minimo 3 caracteres</small>
                </div> -->
            </div>
            
            <!-- === Botão salvar === -->
            <div class="d-flex justify-content-center mx-5">
                <a class="botaoPreto">SALVAR</a>
            </div>
        </div>
    </section>
</header>