<header class="bg-azul-claro d-flex flex-column justify-content-center align-items-center">
    <div class="col-12 col-md-6 w-100 h-100 d-flex flex-column justify-content-center align-items-center" id="iconePlaneta">
        <img src="../../assets/img/home/planeta.png" alt="" id="imgPlaneta">
        <img src="../../assets/img/logo.svg" alt="" id="logoHome" class="my-3">
        <p class="font-roboto texto-preto text-center" id="textoHeader">Descubra a melhor de maneira de conseguir a vacida do covid-19</p>
        <a href="" class="botaoPreto mb-3">CADASTRE-SE</a>
        <a href="" class="botaoBranco">LOGIN</a>
    </div>
</header>
<main class="p-5 d-flex flex-column justify-content-center align-items-center">
    <p class="font-roboto texto-preto text-center font-25 m-0 negrito" id="">VOCÊ QUER SABER MAIS INFORMAÇÕES SOBRE COVID-19?</p>
    <span style="width: 90%; height: 1px; background-color: black;" class="my-3"></span>
    <p class="font-roboto texto-azul-verde text-center font-25 mb-4 negrito" id="">PERGUNTE PARA A JANET NOSSA ASSISTENTE</p>
    <img src="../../assets/img/Janet.png" alt="" id="janetHome" class="mb-4">
    <a href="" class="botaoAzul">COMEÇAR CONVERSA</a>
</main>