header {
    height: 90vh;
}
#iconePlaneta > svg {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: svganimate 7s forwards infinite ease-in-out;
}
@keyframes svganimate {
    0% {stroke-dashoffset: 1000;}
    50% {stroke-dashoffset: 300;}
    100% {stroke-dashoffset: 0;}
}
#imgPlaneta {
    width: 50%;
    height: auto;
}
#logoHome {
    width: 70%;
    height: auto;
    min-width: 264px;
}
#textoHeader {
    font-size: 20px;
    font-weight: bolder;
}
#janetHome {
    height: 185px;
    width: 185px;
}