<header class="bg-azul-claro d-flex flex-column justify-content-center align-items-center">
    <div class="col-12 w-100 h-100 d-flex flex-column flex-lg-row justify-content-center align-items-center" id="iconePlaneta">
        <div class="p-5 col-lg-7 d-flex flex-column justify-content-center align-items-center">
            <img src="../../assets/img/home/planeta.png" alt="" id="imgPlaneta">
            <img src="../../assets/img/logo.svg" alt="" id="logoHome" class="my-3">
            <p class="font-roboto texto-preto text-center" id="textoHeader">Descubra a melhor de maneira de conseguir a vacina do covid-19</p>
        </div>
        <div class="col-lg-5 d-flex flex-column justify-content-center align-items-center">
            <a href="" class="botaoPreto mb-3">CADASTRE-SE</a>
            <a href="" class="botaoBranco">LOGIN</a>
        </div>
    </div>
</header>
<main class="my-5 p-5 d-flex flex-column justify-content-center align-items-center flex-lg-row">
    <div class="col-lg-6">
        <p class="font-roboto texto-preto text-center text-md-left font-25 m-0 negrito" id="textoMain">VOCÊ QUER SABER MAIS INFORMAÇÕES SOBRE COVID-19?</p>
        <div style="width: 90%; height: 1px; background-color: black;" class="my-3"></div>
        <p class="font-roboto texto-azul-verde text-center text-md-left font-25 mb-4 mb-md-5 negrito" id="textoMain">PERGUNTE PARA A JANET NOSSA ASSISTENTE</p>
    </div>
    <div class="col-lg-6 d-flex flex-column justify-content-center align-items-center">
        <img src="../../assets/img/Janet.png" alt="" id="janetHome" class="mb-4 mb-md-5">
        <a href="" class="botaoAzul">COMEÇAR CONVERSA</a>
    </div>
</main>