body {
    margin: 0;
}
nav {
    height: 10vh;
    background-color: #BAE2D9;
}
#navLogo{
    width: 30%;
    height: auto;
    max-width: 250px;
}
#navMenu{
    width: 100%;
    height: auto;
    max-width: 50px;
}
