/* ============================ Estilo e posicionamento do label dentro do input */
label{
    position: absolute;
    top: -3px!important;
    left: 60px;
    padding: 10px 0;
    font-size: 16px!important;
    color: white!important;
    pointer-events: none;
    font-weight: 100;
    transition: .2s ease all;
}  
/* =========================== Tamanho do Popup*/
.tamanhoPopupWidth{
    max-width: 933px!important;
}
.tamanhoPopupHeight{
    height: 615px!important;
}
/* ========================== Formulários dos <input> */
.form-group{
    margin-bottom: 2rem;
    position: relative;
}
/* ======================== estilo dos <input> */
.input-estilo{
    border-top-right-radius: 2.5px;
    border-top-left-radius: 2.5px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-color: transparent;
    background-color: transparent;
    width: 80%;
    border: none;
    border-bottom: 2px solid #cccbcb;
}   
/* ======================== Eventos do <input> */
.input-estilo:focus{
    box-shadow: 0 0 0 0 transparent;
    border-bottom: 0.5px solid transparent!important;
}
.input-estilo:focus ~ label, .input-estilo:valid ~ label{ /* posicionamento do label em cima do input */
    top: -30px!important;
    left: 50px;
    font-size: 13px!important;
    font-style: normal;
    font-weight: 500;
    color: #98cabe!important;
}
/* ========================  Estilo do <span> */
.linhaSpan{ /* tamanho e posição do span que é uma linha */
    position: absolute;
    display: block;
    width: 80%; 
    bottom: 1px; 
}
.linhaSpan:before, .linhaSpan:after{/* cor da linha antes e depois com uma duração de 2 segundos*/
    content: '';
    height: 3px;
    bottom: 0px;
    width: 0;
    position: absolute;
    transition: .2s ease all;
    background: #98cabe;
}
 .input-estilo:focus ~ .linhaSpan:after {/* Tamanho da linha quando em foco e depois */
    width:100%;
}


/* ========= Modal ================= */
.modalDesign{
    background: rgba(196, 196, 196, 0.62);
    backdrop-filter: blur(50px);
    border-radius: 20px;
    height: 44em;
}

.modal-dialog {
    max-width: 550px!important;
    /* transform: translateY(131px)!important; */
    margin: 3.75rem auto;
}

/* ----- Media Query ------- */

@media (max-width: 462px){
    .modal-body{
        padding: 33px!important;
    }
}
@media (max-width: 462px){
    .modal-body{
        padding: 33px!important;
    }
}