<div class="modal fade" id="cadastroModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content modalDesign">
            <div class="w-100 p-2">
                <h1 class="mt-5 text-light text-center">Crie sua conta</h1>
            </div>
            <div class="modal-body" style="padding: 63px;">
                <div class="form-group d-flex justify-content-center">
                    <input type="text" [(ngModel)]="usuario.nome" class="form-control input-estilo" required>
                    <span class="linhaSpan"></span>
                    <label for="exampleInputNome" class="col-form-label">Nome</label>
                    <!-- <div class="position-absolute" style="top: 30px; right:44px;">
                    <small style="color: red; font-size: 10px;">O nome esta incorreto, minimo 3 caracteres</small>
                </div> -->
                </div>
                <div class="form-group d-flex justify-content-center">
                    <input type="text" [(ngModel)]="usuario.email" class="form-control input-estilo" required>
                    <span class="linhaSpan"></span>
                    <label for="exampleInputNome" class="col-form-label">Email</label>
                    <!-- <div class="position-absolute" style="top: 30px; right:44px;">
                    <small style="color: red; font-size: 10px;">O nome esta incorreto, minimo 3 caracteres</small>
                </div> -->
                </div>
                <div class="form-group d-flex justify-content-center">
                    <input type="text" [(ngModel)]="usuario.cpf" class="form-control input-estilo" required>
                    <span class="linhaSpan"></span>
                    <label for="exampleInputNome" class="col-form-label">CPF</label>
                    <!-- <div class="position-absolute" style="top: 30px; right:44px;">
                    <small style="color: red; font-size: 10px;">O nome esta incorreto, minimo 3 caracteres</small>
                </div> -->
                </div>
                <div class="form-group d-flex mb-0 justify-content-center">
                    <input type="password" (input)='conferirSenha($event)' value="{{senha}}" class="form-control input-estilo" required>
                    <span class="linhaSpan"></span>
                    <label for="exampleInputNome" class="col-form-label">Senha</label>
                    <!-- <div class="position-absolute" style="top: 30px; right:44px;">
                    <small style="color: red; font-size: 10px;">O nome esta incorreto, minimo 3 caracteres</small>
                </div> -->
                </div>
                <div class="form-group d-flex mb-0 justify-content-center">
                    <input type="password" [(ngModel)]="usuario.senha" class="form-control input-estilo" required>
                    <span class="linhaSpan"></span>
                    <label for="exampleInputNome" class="col-form-label">Confirmar senha</label>
                    <!-- <div class="position-absolute" style="top: 30px; right:44px;">
                    <small style="color: red; font-size: 10px;">O nome esta incorreto, minimo 3 caracteres</small>
                </div> -->
                </div>
                <div class="form-group d-flex pl-5 mb-5 my-3">
                    <input type="checkbox" style="margin: 3px;" id="checkboxPoliticaePrivacidade">
                    <a class="m-0 text-light" style="font-size: 12px; cursor: pointer;">Aceito os termos de politica e
                        privacidade</a>
                </div>

    <!-- === Botão cadastrar === -->
                <div class="d-flex justify-content-center mx-5">
                    <button (click)="cadastrar()" class="btn rounded-0 text-light w-100" style="background-color: black; height: 50px;">Cadastrar</button>
                </div>
            </div>
        </div>
    </div>
</div>