<footer class="py-5 bg-cinza-escuro d-flex justify-content-center align-items-center flex-column">
    <img src="../../assets/img/logoBranco.svg" alt="" class="mb-5 w-50" id="logoFooter">
    <div class="mb-5 d-flex justify-content-center align-items-center flex-column flex-lg-row">
        <a href="" class="mx-lg-3">
            <p class="font-roboto texto-branco">POLÍTICA DE PRIVACIDADE</p>
        </a>
        <a href="" class="mx-lg-3">
            <p class="font-roboto texto-branco">F.A.Q</p>
        </a>
        <a href="" class="mx-lg-3">
            <p class="font-roboto texto-branco">CONTATE-NOS</p>
        </a>
        <a href="" class="mx-lg-3">
            <p class="font-roboto texto-branco">SOBRE A VACCINATION</p>
        </a>
        <a href="" class="mx-lg-3">
            <p class="font-roboto texto-branco mb-0 mb-lg-3">DIREITOS AUTORAIS</p>
        </a>
    </div>
    <div>
        <a href=""><img src="../../assets/img/footer/TwitterVerde.svg"  alt="" class="redesSociais"></a>
        <a href=""><img src="../../assets/img/footer/FacebookVerde.svg" alt="" class="redesSociais mx-3 mx-md-5"></a>
        <a href=""><img src="../../assets/img/footer/linkedinVerde.svg"  alt="" class="redesSociais"></a>
    </div>
    <p class="font-roboto texto-azul-verde font-15 text-center mt-5 mb-0" style="max-width: 80%;">Copyright © Vaccination 2020 Todos os direitos reservados</p>
</footer>